# 창원 AI 아카데미

### 샵은 글자 크기 

* 줄 띄우기는 <br> html 코드가 많이 쓰인다. 
* </b> 는 굵게

단축키 
* b below 아래에 셀추가
* a above 위에 셀추가
* m 마크다운으로 변경
* y 코드로 변경
* dd 삭제
* z 되돌리기
* s 저장
* c 복사 
* v 붙여넣기
* 위의 단축키는 파란색 ( 셀을 선택 상태 ) 에서만 유효하다
* ctrl + enter 실행
* shift + enter 실행하면서 셀 생성

In [15]:
print("Hellow World!")
print('Hellow World!')
print('Hello', 'World!')
print('Hello'+"World!")
print(100)
print(2+4)

Hellow World!
Hellow World!
Hello World!
HelloWorld!
100
6

In [4]:
print('Hello Python!')
print(100 + 200)

Hello Python!
300

안녕하세요~<br>
저는 홍길동입니다.<br>
창원 AI Academy 교육받고 있습니다.

In [7]:
#p44 1.6
print("**********************************")
print("안녕하세요~ \n저는 홍길동입니다.\n창원 AI Academy에서 교육받고 있습니다")
print("**********************************")
print("*"*30)
print("********",
     "안녕",
     "저는",
     "대학",
     "*********", sep='\n')

# 따옴표 세번을 누르면 자동으로 묶어진다, 줄바꿈도 적용된다.
print('''***********************
안녕
저는
대학
***********************''')

# 컨트롤을 누른 상태로 위치를 선택하면 커서가 여러개 생긴다. 동일한 곳에 똑같은 것을 작성할때 편리하다
print("안녕")

print("안녕")

print("안녕")

print("안녕")

# 더블클릭을 하면 단위별로 전체 선택이 된다.

**********************************
안녕하세요~
저는 홍길동입니다.
창원 AI Academy에서 교육받고 있습니다
**********************************
******************************
********
안녕
저는
대학
*********
***********************
안녕
저는
대학
***********************
안녕
안녕
안녕
안녕

In [8]:
#p45 1.11

print(80 * 1.5, "km")

120.0 km

In [43]:
# OUT은 셀의 마지막 객체를 받아서 나오는 것
"가나다"
"라마"

'라마'

In [45]:
# 64bit로 계산하기 때문에 소숫점 2째자리 밑의 숫자가 나왔다 이것 때문에 오류가 나기도한다
10.002 * 5

50.010000000000005

In [48]:
# 나눗셈, 몫, 나머지
print(10//3) 
print(10/3)
print(10%3)

3
3.3333333333333335
1

In [56]:
print(10**2)
print("문자열 곱셈 " * 3)
print("문자열 덧셈" +" " + "문자열 덧셈")

100
문자열 곱셈 문자열 곱셈 문자열 곱셈
문자열 덧셈 문자열 덧셈

In [60]:
# 쉼표뒤는 공백이 무조건 들어간다 붙이기 위해서는 sep=''
print('올해는 ', 2023, "년이다.", sep='')

올해는 2023년이다.

In [62]:
# 비교연산자 >, <, ==, !=, <=, >= 
# 문자열도 ==, != 는 가능하다

'창원' == '창' + '원'

True

In [64]:
True == False

False

In [68]:
# 논리연산자 and, or, not
(10 == 7+3) and (3 == 1+2)

True

In [87]:
a = 10
b = "안"
print(f'제 나이는 {a}입니다.')
print('제 나이는 {}입니다' .format(a))
print('제 이름은 {}이고 나이는 {}입니다' .format(b, a))
print('제 이름은 {x}이고 나이는 {y}입니다' .format(y=a, x=b))
print('제 이름은 {1}이고 나이는 {0}입니다' .format(a, b))

제 나이는 10입니다.
제 나이는 10입니다
제 이름은 안이고 나이는 10입니다
제 이름은 안이고 나이는 10입니다
제 이름은 안이고 나이는 10입니다

In [88]:
pi = 3.1415

In [119]:
# 앞의 숫자는 출력할 공간지정 .x 는 소숫점 자리 지정
print("{:10.100f}" .format(pi))

3.1415000000000001811883976188255473971366882324218750000000000000000000000000000000000000000000000000

In [120]:
#int cel  = int(input('섭씨온도를 입력하세요 : '))
cel = 30
fah = 9/5 * cel + 32
print("섭씨 {c} 도는 화씨 {f}도 입니다" .format(c=cel, f=fah))

섭씨 30 도는 화씨 86.0도 입니다

In [2]:
cel = 0
fah = 9/5 * cel + 32
a=""
print(f'섭씨{a:10s}화씨')
print("{c:}{aa:10s}{f}" .format(c=cel, aa=a, f=fah))
cel += 10
print("{c}       {f}" .format(c=cel, f=fah))

섭씨          화씨
0          32.0
10       32.0

In [16]:
# 1. 두 값 a,b의 평균을 출력하는 프로그램을 작성하시오


#a=10
#b=100

a, b = input("평균을 구할 두 값을 입력하세요 :  ").split()
#b = input("평균을 구할 값 b : ")
a = int(a)
b = int(b)
print(a+b/2)

평균을 구할 두 값을 입력하세요 :   1 2

2.0

In [10]:
# 2. 국적, 이름, 출생년도를 입력받아, 국적, 이름, 나이를 출력하는 프로그램을 작성하시오

#y = 2000
#c = "대한민국"
#n = "홍길동"
#a = 2023 - y

y = input("출생년도를 입력하세요 : ")
c = input("국적을 입력하세요 : ")
n = input("이름을 입력하세요 : ")
y = int(y)
print('저는 국적은 {}이며 이름은 {}입니다. 나이는 {}입니다.' .format(c, n, 2023-y))

출생년도를 입력하세요 :  2000
국적을 입력하세요 :  대한민국
이름을 입력하세요 :  홍길동

저는 국적은 대한민국이며 이름은 홍길동입니다. 나이는 23입니다.

In [13]:
# 3. 원의 반지름을 입력받아 원의 면적을 구하는 프로그램을 작성하시오

#r = 3

r = input("면적을 구할 원의 반지름을 입력하세요 : ")
r = int(r)
print('원의 반지름이 {}인 원의 면적은 {}입니다.' .format(r, 3.14*r**2))

면적을 구할 원의 반지름을 입력하세요 :  10

원의 반지름이 10인 원의 면적은 314.0입니다.