# pandas

* 가장 익숙한 데이터 : 테이블 데이터 ex.엑셀
* pandas의 2가지 자료구조
    - 시리즈 (Series) 
        - 1차원 배열 구조 
    - 데이터 프레임 (Data Frame)
        - 2차원 배열 구조
        - Series를 여러개 합친 것, Series는 Data Frame의 열 (column)

In [1]:
import pandas as pd

In [2]:
# sr = pd.Series() # Series Class의 생성자 Series()

# dtype Data Type 지정하지 않으면 int64 
# index와 함께 생성된다.

# 리스트로 시리즈 생성
sr_list = pd.Series([1, 2, 3, 4, 5]) 

# 튜플로 시리즈 생성
sr_tuple = pd.Series((1, 2, 3, 4, 5))

# 딕셔너리로 시리즈 생성
sr_dic = pd.Series({'a':1, 'b':2, 'c':3, 'd':4, 'e':5})  # index가 key값으로 대체된다.

# NumPy 배열로 시리즈 생성  # dtype Data Type 지정하지 않으면 int32 ?
import numpy as np

sr_array = pd.Series(np.array([1, 2, 3, 4, 5]))

# 기존 시리즈로 시리즈 생성
sr_01 = pd.Series([1, 2, 3, 4, 5])
sr_02 = pd.Series(sr_01)

In [6]:
sr_array = pd.Series(np.array([1, 2, 3, 4, 5]))
sr_array

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [7]:
sr_01 = pd.Series([1, 2, 3, 4, 5])
sr_01

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
sr_02 = pd.Series(sr_01)
sr_02

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [31]:
# 매개변수, 위치인자, 키워드인자  # dtype 변경가능 실수, 문자열, 날짜 등.. dtype과 data도 맞아야한다.
sr = pd.Series(data=[1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'], dtype = str)

idx = ['a', 'b', 'c', 'd', 'e']

# 매개변수 name Series 이름 부여, Data Frame의 열로 이름을 가진다.
sr_2 = pd.Series(data=[1, 2, 3, 4, 5], index = idx, name = 'Group_01')
sr_3 = pd.Series(data=[6, 7, 8, 9, 10], index = idx, name = 'Group_02')

df = pd.concat((sr_2, sr_3), axis = 1) # Data Frame 생성, 각 시리즈가 이름이 있다면 열의 이름이 된다.

print(sr_2)
print(sr_3)
print(df)
df
# sr_3 = pd.Series(data=[1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e', 'f'])   # 인덱스를 직접 지정하려면 Data 개수와 index 개수가 같아야한다.

a    1
b    2
c    3
d    4
e    5
Name: Group_01, dtype: int64
a     6
b     7
c     8
d     9
e    10
Name: Group_02, dtype: int64
   Group_01  Group_02
a         1         6
b         2         7
c         3         8
d         4         9
e         5        10

   Group_01  Group_02
a         1         6
b         2         7
c         3         8
d         4         9
e         5        10

In [39]:
# copy

arr = np.array([1, 2, 3, 4, 5])
sr = pd.Series(arr, copy = False) # copy가 false이면 데이터 원본을 이용한다. defalut로 이용하면 된다.

sr[0] = 999
sr[1] = 999

print(arr, '\n')
print(sr)

lst = [1, 2, 3, 4, 5]
sr_lst = pd.Series(lst, copy = False) # copy false로 데이터 원본을 이용하려면 데이터 원본이 numpy array일 경우만 가능하다.

sr_lst[0] = 999
sr_lst[1] = 999

print(lst, '\n')
print(sr_lst)

[999 999   3   4   5]

0    999
1    999
2      3
3      4
4      5
dtype: int32
[1, 2, 3, 4, 5]

0    999
1    999
2      3
3      4
4      5
dtype: int64

In [34]:
# 원본데이터가 변형되지 않도록 주의해야한다.

list_01 = [1, 2, 3, 4, 5]

list_02 = list_01 # 리스트 02가 리스트 01이 저장된 메모리를 참조한다. (한 공간을 2개의 리스트가 참조하고 있다.) view 

list_02[0] = 999
list_01[0]

print(list_01, list_02)

[999, 2, 3, 4, 5] [999, 2, 3, 4, 5]

In [57]:
# 시리즈 속성

sr = pd.Series([1, 2, 3, 4, 5], index = ['a', 'b', 'c', 'd', 'e'])
sr_array = pd.Series([np.nan, 2, 3, 4, 5])
print(sr.index)  # index만 
print(sr.values) # data만
print(sr.shape) # 형태
print(sr.ndim) # 차원
print(sr.dtype) # data 타입
print(sr.nbytes) # 40byte 5개니까 1개당 8byte
print(sr.hasnans) # Has Not A Numbers 
print(sr_array.hasnans) # nan 검사
print(sr.empty) # 빈 시리즈

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
[1 2 3 4 5]
(5,)
1
int64
40
False
True
False

In [58]:
# 1개 값만 가진 튜플 1, 로 표시
t = ()
t_01 = (1)
t_02 = (1,)
type(t)
type(t_01)
type(t_02)

tuple

In [75]:
sr = pd.Series([10, 20, 30, 40], index = ['A', 'B', 'C', 'D'])
print(sr[0])
print(sr.iloc[0]) # integer location
print(sr.loc['A']) # location

10
10
10

In [80]:
# 슬라이싱    인덱싱 = 검색

# 정수 인덱싱
print(sr[[0, 2, 3]]) # 해당 위치에 있는 값을 가져 올 수 있다.
print(sr[0:2])
print(sr.iloc[:])

# label 인덱싱
print(sr['A']) # index 값을 이용해서 값을 찾는다.
print(sr.loc['A']) # integer가 아니면 loc
print(sr.loc['B':'D'])

# 조건으로 인덱싱
print(sr[sr == 20])

A    10
C    30
D    40
dtype: int64
A    10
B    20
dtype: int64
A    10
B    20
C    30
D    40
dtype: int64
10
10
B    20
C    30
D    40
dtype: int64
B    20
dtype: int64

In [89]:
# 시리즈 값 추가, 삭제, 갱신, 검색( = 인덱싱)

# 데이터 추가

data = [1, 2, 3, 4, 5]
idx = ['A', 'B', 'C', 'D', 'E']

sr = pd.Series(data, index = idx)

# 데이터가 없으면 추가, 있다면 갱신
sr.loc['F'] = 6 # 데이터 추가  
sr.loc['B'] = 6 # 데이터 갱신

sr = sr.drop('A') # 데이터 삭제
sr = sr.drop(['B', 'C']) # 여러 데이터 삭제
print(sr)

D    4
E    5
F    6
dtype: int64