In [2]:
import pandas as pd

In [3]:
data = {'Name' : ['John', 'Emma', 'Peter', 'Lisa'],
        'Age' : [25, 28, 30, 27],
        'City' : ['New York', 'Paris', 'London', 'Sydney']}

In [4]:
df = pd.DataFrame(data)
df

df['Birth Day'] = [1998, 1995, 2001, 1993] # 열 추가
df

df.insert(3, 'Birth Day2', [1998, 1995, 2001, 1993])  # 추가할 열의 위치, 이름
df

new_row = {'Name' : 'Jack', 'Age' : 17, 'City' : 'Changwon', 'Birth Day' : 2023}   # append로 새로운 행 추가
df = df.append([new_row])

df = df.drop(1) # drop로 행 삭제
df

C:\Users\PC\AppData\Local\Temp\ipykernel_16976\1072292791.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append([new_row])

    Name  Age      City  Birth Day2  Birth Day
0   John   25  New York      1998.0       1998
2  Peter   30    London      2001.0       2001
3   Lisa   27    Sydney      1993.0       1993
0   Jack   17  Changwon         NaN       2023