In [1]:
import pandas as pd

In [2]:
sr_01 = pd.Series([1, 2, 3, 4, 5])
#sr_02 = pd.Series([6, 7, 8, 9, 10]) # 시리즈끼리 연산이 가능하다.
sr_02 = pd.Series([6, 7, 8, 9])   # 데이터 개수가 달라도 가능하다. 빈 자리는 NaN을 넣고 연산한다.


sr_01 + sr_02  
sr_01 - sr_02  
sr_01 * sr_02  
sr_01 / sr_02  
sr_01 // sr_02 
sr_01 % sr_02  
sr_01 ** sr_02

0         1.0
1       128.0
2      6561.0
3    262144.0
4         NaN
dtype: float64

In [3]:
table_data_01 = {'A' : [1, 2, 3, 4, 5],
                 'B' : [6, 7, 8, 9, 10],
                 'C' : [11, 12, 13, 14, 15]}

table_data_02 = {'A' : [11, 12, 13],
                 'B' : [16, 17, 18],
                 'C' : [21, 22, 23]}

df_01 = pd.DataFrame(table_data_01)
df_02 = pd.DataFrame(table_data_02)

print(df_01.shape, df_02.shape)
print(df_01 + df_02)

(5, 3) (3, 3)
      A     B     C
0  12.0  22.0  32.0
1  14.0  24.0  34.0
2  16.0  26.0  36.0
3   NaN   NaN   NaN
4   NaN   NaN   NaN

In [5]:
df_01 = pd.DataFrame(table_data_01)
df_01

   A   B   C
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

In [7]:
df_02 = pd.DataFrame(table_data_02)
df_02

    A   B   C
0  11  16  21
1  12  17  22
2  13  18  23