In [2]:
# groupby() Method 그룹화 한다.
import pandas as pd

In [15]:
data = {'City' : ['Seoul', 'Seoul', 'Busan', 'Busan', 'Incheon'],
        'Year' : [2020, 2021, 2020, 2021, 2020],
        'Population' : [9.7, 9.8, 3.4, 3.6, 2.9]}

df = pd.DataFrame(data)

grouped_df = df.groupby('City')  # 열안에 같은 데이터끼리 그룹화 한다.
    
print([i for i in grouped_df]) # list comprehension 

average_population = grouped_df['Population'].mean()
average_population

[('Busan',     City  Year  Population
2  Busan  2020         3.4
3  Busan  2021         3.6), ('Incheon',       City  Year  Population
4  Incheon  2020         2.9), ('Seoul',     City  Year  Population
0  Seoul  2020         9.7
1  Seoul  2021         9.8)]

City
Busan      3.50
Incheon    2.90
Seoul      9.75
Name: Population, dtype: float64

In [18]:
# Year 열을 기준으로 Population열의 총합을 계산

grouped_df = df.groupby('Year')

print([i for i in grouped_df])

sum_population = grouped_df['Population'].sum()
sum_population

[(2020,       City  Year  Population
0    Seoul  2020         9.7
2    Busan  2020         3.4
4  Incheon  2020         2.9), (2021,     City  Year  Population
1  Seoul  2021         9.8
3  Busan  2021         3.6)]

Year
2020    16.0
2021    13.4
Name: Population, dtype: float64

In [32]:
# iris 꽃 종별로 평균 구하기

from sklearn.datasets import load_iris

iris = load_iris()
iris_df = pd.DataFrame(iris.data, columns = iris.feature_names)
iris_df['target'] = iris.target

grouped_iris = iris_df.groupby('target')

'''for i in grouped_iris :
    print(i)'''

average = grouped_iris.mean()

average

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
target,,,,
0,5.006,3.428,1.462,0.246
1,5.936,2.770,4.260,1.326
2,6.588,2.974,5.552,2.026

In [44]:
# apply group 한번에 적용 

data = {'City' : ['Seoul', 'Seoul', 'Busan', 'Busan', 'Incheon'],
        'Population' : [9.7, 9.8, 3.4, 3.6, 2.9],
        'GDP' : [620, 650, 180, 200, 150],
        'Area' : [605.2, 605.2, 770.1, 770.1, 1049]}

df = pd.DataFrame(data)

grouped = df.groupby('City')

for i in grouped :
    print(i)

# 열 최대값 - 최소값    
def max_min(column) :
    print(column.max(), column.min())
    return column.max() - column.min()

apply_result = grouped[['Population', 'GDP']].apply(max_min) # apply(커스텀 함수)

agg_result = grouped.agg({'Population' : 'sum', 'GDP' : ['mean', 'max', 'min'], 'Area' : 'count'}) # agg

apply_result

agg_result

('Busan',     City  Population  GDP   Area
2  Busan         3.4  180  770.1
3  Busan         3.6  200  770.1)
('Incheon',       City  Population  GDP    Area
4  Incheon         2.9  150  1049.0)
('Seoul',     City  Population  GDP   Area
0  Seoul         9.7  620  605.2
1  Seoul         9.8  650  605.2)
Population      3.6
GDP           200.0
dtype: float64 Population      3.4
GDP           180.0
dtype: float64
Population      2.9
GDP           150.0
dtype: float64 Population      2.9
GDP           150.0
dtype: float64
Population      9.8
GDP           650.0
dtype: float64 Population      9.7
GDP           620.0
dtype: float64

        Population    GDP            Area
               sum   mean  max  min count
City
Busan          7.0  190.0  200  180     2
Incheon        2.9  150.0  150  150     1
Seoul         19.5  635.0  650  620     2