In [14]:
# 결측치 보간 ffill bfill
import pandas as pd

df = pd.DataFrame({'A' : [1, 2, 3, None, 5],
                   'B' : [None, 10, 20, None, 50]})

df

     A     B
0  1.0   NaN
1  2.0  10.0
2  3.0  20.0
3  NaN   NaN
4  5.0  50.0

In [17]:
# interpolation 보간

interpolated_df = df.interpolate(method = 'linear') # method의 default는 'linear' (선형 = 직선)
# interpolated_df = df.interpolate(method = 'nearest') # nearest ffill과 같이 앞의 값
# interpolated_df = df.interpolate(method = 'quadratic') # 3개 점을 지난다?
# interpolated_df = df.interpolate(method = 'cubic') # 3차 보간법 

# 제일 앞의 NaN은 bfill or 삭제
#interpolated_df = interpolated_df.bfill() # bfill을 이용해 채우거나
interpolated_df = interpolated_df.dropna(subset = df.columns) # 삭제

interpolated_df

     A     B
1  2.0  10.0
2  3.0  20.0
3  4.0  35.0
4  5.0  50.0