In [1]:
# Pandas SUM MEAN VAR COUNT
import pandas as pd

In [8]:
# sum() mean() var() count()

data = {'Name' : ['John', 'Emma', 'Peter'],
        'Age' : [28, 43, 25],
        'Salary' : [5000, 6000, 4500]}

df = pd.DataFrame(data)

total_Salary = df['Salary'].sum()
variance_Salary = df['Salary'].var()
mean_Age = df['Age'].mean()
count_Name = df['Name'].count()

print(total_Salary)
print(variance_Salary)
print(mean_Age)
print(count_Name)

15500
583333.3333333333
32.0
3

In [22]:
# iris 데이터셋으로 통계 함수 사용하기
from sklearn.datasets import load_iris

iris = load_iris()
iris_df = pd.DataFrame(iris.data, columns = iris.feature_names)
iris_df['target'] = iris.target

print(iris_df)

# 1.sepal length 열의 합계

sepal_length_sum = iris_df['sepal length (cm)'].sum()
print(sepal_length_sum)

# 2.petal width 열의 평균
petal_width_mean = iris_df['petal width (cm)'].mean()
print(petal_width_mean)

# 3.sepal width 열의 분산
sepal_width_var = iris_df['sepal width (cm)'].var()
print(sepal_width_var)

# 4.target 열의 개수
target_count = iris_df['target'].count()
print(target_count)

iris_df['sepal length (cm)']

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

     target
0         0
1         0
2         0
3         0
4         0
..      ...
145       2
146       2
147       2
148       2
149       2

[150 rows x 5 columns]
876.5
1.1993333333333336
0.1899794183445188
150

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal length (cm), Length: 150, dtype: float64